* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
  
body {
	height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	background-color: #000000;
	/*background-image: url("assets/glx.jpg");
	background-repeat: no-repeat;
	background-size: cover;*/
	height: 100%;
	justify-content: center;
	align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
}

ul {
    list-style: none;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
}

nav {
    background-color: blueviolet;
    padding: 0 18px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
}

p {
    margin: 10px;
    color: #FFF;
}

nav,
ul {
    display: flex;
    flex-direction: row;
}

.topo-logo {
    height: 85px;
  }

li {
    padding: 0 20px;
}


button {
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 45px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

a:hover,
button:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.2);
}

.content {
    background-color: #606060;
    width: 100%;
    height: 100vh;
}

@media (max-width: 700px) {

    nav,
    ul {
        flex-direction: column;
    }

    ul {
        text-align: center;
        margin: 0;
        height: 0;
    }

    nav {
        padding: 0;
        align-items: flex-start;
    }

    h1 {
        margin: 20px;
    }

    button {
        display: flex;
    }

    li,
    ul {
        width: 100%;
    }

    ul.responsivo {
        height: 260px;
    }
}

.principal img {
	position: relative;
	width: 45%;
    top: 0px;
    right: 10px;
}
   
.titulo {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.titulo-descricao {
	border-radius: 10px;
	background-color:blueviolet;
    font-size: 24px;
    padding: 0 50px;
    border-radius: 4px;
    text-align: center;
	
}
.principal img {
	position: relative;
	width: 45%;
    top: 0px;
    right: 10px;
}
.icons {
    margin-bottom: 1px;
	display: flex;
	column-gap: 25px;
	justify-content: center
}

.icon {
	display: inline-flex;
	width: 60px;
    min-width: 30px;
	height: 60px;
    min-height: 30px;
	text-decoration: none;
	font-size: 26px;
	color: #fff;
	border-radius: 50%;
	outline: 2px solid #fff;
	transition-property: outline-offset, outline-color, background-color;
	transition-duration: 0.25s;
}

.icon:hover {
	outline-offset: 4px;
}
.icon i {
	margin: auto;
}
.icon:hover i {
	animation: shake 0.25s;
}
.icon--instagram:hover {
	background-image: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	outline-color: #a02d76;
}

.icon--linkedin:hover {
	background-color: #0077b5;
	outline-color: #0077b5;
}
.icon--github:hover {
	background-color: #000000;
	outline-color: #000000;
}

@keyframes shake {
	10% {
		transform: rotate(15deg);
	}
	20% {
		transform: rotate(-15deg);
	}
	30% {
		transform: rotate(15deg);
	}
	40% {
		transform: rotate(-15deg);
	}
}

.container1 {
	max-width: 450px;
	margin: 0 auto;
	padding: 20px 0px;
	background-color:rgba(0, 0, 0, 0.068);
	border-radius: 4px;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 20px;
  }

footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 30px;
	
  }
   footer .container {
    text-align: center;
  }